.contract {
    padding: 0.8rem;
    background-color: #4989c9;
    display: flex;
    justify-content:center;
    align-items: center;
}


.main-content__contract {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.main__contract {
    background-image: url("../../assets/img/backgrounds/line.png");
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: auto;
    padding: 0px;
}

header {
    padding: 0px;
    margin: 0px;
}

#cmc-token {
    color: #fff;
}

#cmc-token:hover {
    color: #0A46BF;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0px;
    margin: 0px;
}

.font-title {
    font-family: 'Rustica', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
}

.main-content {
    width: 100%;
    height: 980px;
    background-image: url("../../assets/img/backgrounds/background-section1.png");
    background-position: center;
}

.main-content__body {
    padding-top: 1vh;
    margin: auto;
    align-items: center;
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-bottom: 400px;
}

.body__logo>img {
    width: 100%;
    height: 300px;
}

.body__title>img {
    width: 100%;
    height: 50px;
}




.body__play>a>img {
    width: 100%;
    height: 90px;
    animation: coracao 1s infinite;
}

@keyframes coracao {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.3,1.3);
    }
    100% {
        transform: scale(1,1);
    }
}


.main-content__statistic {
    width: 100%;
    height: 980px;
    background-image: url("../../assets/img/backgrounds/background-section2.png");
    background-position: center;
}

.main-content__statistic-body {
    padding-top: 150px;
    max-width: 1500px;
    margin: auto;
}

.statistic__title {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 6rem;
}

.statistic__title>img {
    width: 60%;
}

.statistic-card {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    justify-content: space-evenly;
}

.statistic-card__sign>img {
    width: 100%;
    height: 500px;
}

.statistic-card__results {
    display: flex;
    flex-direction: column;
}

.statistic-card__results-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.2rem;
    gap: 2rem;
}

.results-1>img {
    width: 100%;
    height: 150px;
}

.results-2>img {
    width: 100%;
    height: 150px;
}

.results-3>img {
    width: 100%;
    height: 150px;
}

.results-4>img {
    width: 100%;
    height: 150px;
}

.results-1,
.results-2,
.results-3,
.results-4 {
    position: relative;
}

.results-1>h1,
.results-2>h1,
.results-3>h1,
.results-4>h1 {
    position: absolute;
    top: 20px;
    right: 50px
}

.font-statistic {
    font-size: 3rem;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    color: white;
}

.main-content__game {
    width: 100%;
    height: 980px;
    background-image: url("../../assets/img/backgrounds/background-section-3-2.png");
    background-position: center;
}

.main-content__game-body {
    padding-top: 200px;
}

.main-content__game-title {
    margin: auto;
    max-width: 900px;
}

.main-content__game-title>img {
    width: 100%;
}

.second-content {
    min-height: 400px;
    background-color: #4F5052;
}

.motorcycle_pvc_listing {
    position: relative;
    padding: 2rem;
}

.buttons #prev {
    top: 520px;
    position: absolute;
    left: 600px;
}

.buttons #prev>img,
.buttons #next>img {
    height: 50px;
}

.buttons #next {
    top: 520px;
    position: absolute;
    right: 600px;
}

.main-content__game-pvp {
    background-color: #4F5052;
}

.slide-pvp {
    margin: auto;
    max-width: 900px;
}

.slider-pvp-img {
    border-radius: 25px;
    width: 100%;
}

.slider-pvp-nav {
    height: 85px;
}

.border {
    border-radius: 25px;
}

.slider-nav {
    padding-bottom: 10%;
}

.main-content__tokens {
    background-color: #4B535E;
}

.token-content {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.token-title {
    width: 60%;
    height: 100%;
}

.team-content-body {
    background-image: url("../../assets/img/elements/team/motor-team.png");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
}

.team-title {
    width: 60%;
    height: 100%;
}

.team-content {
    padding-top: 5%;
    text-align: center;
}

.main-content__team {
    padding-top: 2rem;
    background-color: #BEBEBE;
}

.team-image {
    text-align: center;
    max-width: 800px;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.person-image {
    border-radius: 50%;
    border: 5px solid black;
}

.person-image>img {
    width: 100%;
    height: 200px;
    border-radius: 50%;
}

.person-name {
    padding-top: 0.5rem;
}

.person-name>h1 {
    font-family: 'Futura', Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
}

.team-content-title>img {
    width: 30%;
    height: 60px;
    padding-bottom: 4rem;
}

.main-content__footer {
    justify-content: space-around;
    background-image: url("../../assets/img/backgrounds/bg-footer.png");
    background-size: cover;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #c4ce51;
    margin-top: -10px;
}

.footer-row {
    display: flex;
    justify-content:space-around;
    padding-top: 15px;
}

.footer-row > .col-2 > a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-row > .col-2 > a:hover {
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-copyright {
    padding-bottom: 25px;
}

.footer-copyright > span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 10px;
}

.footer-row > .col-1 > a > img {
    width: 40px;
    height: 40px;
    padding-left: 1rem;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright > h1 {
    color: #fff;
}

.footer-logo {
    padding-top: 6rem;
}

.footer-logo>img {
    width: 100%;
    height: 250px;
}

.footer-download {
    display: flex;
    gap: 2rem;
    padding-top: 3.5rem;
}

.footer-download>img {
    width: 100%;
    height: 80px;
}

.footer-partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.footer-partners>.partners {
    border-radius: 20px;
    width: 300px;
    height: 100px;
    background-color: white;
}

.button-next,
.button-prev {
    background-color: transparent;
    border-color: transparent;
}

.button-next>img,
.button-prev>img {
    transition: transform .3s;
    height: 100px;
}

.button-next>img:hover,
.button-prev>img:hover {
    transform: scale(1.2);
}

.button-next {
    position: absolute;
    top: 150px;
    right: -150px;
}

.button-prev {
    position: absolute;
    top: 150px;
    left: -150px;
}

.main-content__game-pvp-title {
    margin: auto;
    max-width: 600px;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.main-content__game-pvp-title>img {
    width: 100%;
    height: 100px;
}

#carousel {
    position: relative;
    height: 600px;
    top: 50%;
    overflow: hidden;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel div img {
    width: 400px;
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
    width: 200px;
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
    width: 300px;
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.prevLeftSecond img {
    width: 200px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
    width: 300px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
}

#carousel div.nextRightSecond img {
    width: 200px;
}

@media only screen and (max-width: 1380px) {
    .main-content {
        height: 650px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-content__statistic {
        height: 650px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-content__game {
        height: 650px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .team-content-body {
        min-height: 425px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-content__footer {
        min-height: 705px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .body__logo>img {
        height: 210px;
    }
    .body__title>img {
        height: 35px;
    }
    .body__play>a>img {
        height: 80px;
    }
    .main-content__statistic-body {
        padding-top: 40px;
        max-width: 800px;
    }
    .statistic__title>img {
        width: 100%;
    }
    .statistic-card__sign>img {
        height: 380px;
    }
    .results-1>img,
    .results-2>img,
    .results-3>img,
    .results-4>img {
        height: 110px;
    }
    .font-statistic {
        font-size: 1.8rem;
    }
    .main-content__game-body {
        padding-top: 300px;
    }
    #carousel .selected>img {
        width: 300px;
    }
    #carousel div.next>img {
        width: 225px;
    }
    #carousel div.hideRight>img {
        width: 150px;
    }
    #carousel div.nextRightSecond>img {
        width: 150px;
    }
    #carousel div.prev>img {
        width: 225px;
    }
    #carousel div.hideLeft>img {
        width: 150px;
    }
    #carousel div.prevLeftSecond>img {
        width: 150px;
    }
    #carousel {
        height: 420px;
    }
    .buttons #prev {
        top: 385px;
        left: 380px;
    }
    .buttons #next {
        top: 385px;
        right: 380px;
    }
    .main-content__game-pvp {
        padding-top: 250px
    }
    .team-image {
        padding: 2rem;
        max-width: 650px;
        margin-right: 40px;
        height: 350px;
    }
    .person-image>img {
        height: 120px;
    }
    .footer-logo>img {
        height: 165px;
    }
    .footer-download {
        padding-top: 0.5rem;
    }
    .footer-download>img {
        height: 60px;
    }
    .footer-partners>.partners {
        width: 185px;
        height: 60px;
    }
}

@media only screen and (max-width: 485px) {
    .main-content {
        height: 226px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-content__statistic {
        height: 226px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-content__game {
        height: 226px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .main-content__body {
        max-width: 240px;
        margin: auto;
        row-gap: 0rem;
    }
    .body__logo>img {
        height: 80px;
    }
    .body__title>img {
        height: 20px;
    }
    .body__play>a>img {
        height: 35px;
    }
    .main-content__statistic-body {
        max-width: 240px;
        margin: auto;
        padding-top: 0px;
    }
    .statistic__title {
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
    .statistic-card {
        padding-top: 1rem;
    }
    .statistic-card__sign>img {
        height: 120px;
    }
    .statistic-card__results-content {
        padding-bottom: 0.4rem;
        gap: 1rem;
        margin-left: 0px;
    }
    .results-1>img,
    .results-2>img,
    .results-3>img,
    .results-4>img {
        height: 35px;
    }
    .results-1>h1,
    .results-2>h1,
    .results-3>h1,
    .results-4>h1 {
        position: absolute;
        top: 6px;
        right: 15px;
    }
    .font-statistic {
        font-size: 0.7rem;
    }
    .main-content__game-body {
        padding-top: 95px;
    }
    .main-content__game-title {
        margin: auto;
        max-width: 300px;
        padding-bottom: 2rem;
    }
    #carousel .selected>img {
        width: 105px;
    }
    #carousel div.next>img {
        width: 80px;
    }
    #carousel div.hideRight>img {
        width: 50px;
    }
    #carousel div.nextRightSecond>img {
        width: 50px;
    }
    #carousel div.prev>img {
        width: 80px;
    }
    #carousel div.hideLeft>img {
        width: 50px;
    }
    #carousel div.prevLeftSecond>img {
        width: 50px;
    }
    #carousel {
        width: 345px;
        height: 200px;
        margin: auto;
    }
    .buttons #prev {
        top: 160px;
        left: 145px;
    }
    .buttons #next {
        top: 160px;
        right: 145px;
    }
    .buttons #prev>img,
    .buttons #next>img {
        height: 25px;
    }
    .motorcycle_pvc_listing {
        padding: 0rem;
    }
    .main-content__game-pvp {
        padding-top: 135px;
    }
    .main-content__game-pvp-title {
        max-width: 300px;
        margin: auto;
    }
    .main-content__game-pvp-title>img {
        height: 40px;
    }
    .slide-pvp {
        max-width: 280px;
        margin: auto;
    }
    .button-next>img,
    .button-prev>img {
        height: 35px;
    }
    .button-prev {
        top: 50px;
        left: -45px;
    }
    .button-next {
        top: 50px;
        right: -45px;
    }
    .slider-pvp-nav {
        height: 20px;
    }
    .token-map {
        width: 100%;
    }
    .team-content-title>img {
        width: 50%;
        height: 20px;
        padding-bottom: 2rem;
    }
    .team-content-body {
        min-height: 240px;
        background-size: cover;
    }
    .team-image {
        gap: 0px;
        max-width: none;
        margin-left: 70px;
        height: 200px;
        grid-template-columns: repeat(3, 100px);
    }
    .team-content-body {
        display: block;
    }
    .team-person {
        width: 60px;
    }
    .person-image>img {
        height: 35px;
    }
    .person-name>h1 {
        font-size: 15px;
    }
    .main-content__footer {
        min-height: 400px;
    }
    .footer-logo {
        padding-top: 1rem;
    }
    .footer-logo>img {
        height: 50px;
    }
    .footer-download>img {
        height: 25px;
    }
    .footer-partners {
        padding-top: 2rem;
    }
    .footer-partners>.partners {
        width: 60px;
        height: 25px;
    }
    .footer-download>img {
        height: 25px;
    }
    .main-content__footer {
        min-height: 250px;
    }
    .main-content__tokens {
        padding-top: 3rem;
    }
}